.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    padding: 2px 10px;
    font-size: 0.9em;
}
.book .book-summary ul.summary li i.fa-check {
    right: 5px;
    top: 7px;
}